h1 {
    font-family: Garamond, sans-serif;
    font-size: 3rem;
    color: #6684b5;
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #2F4F4F;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00A9E0;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #007bb8;
}

#login_error_message {
    margin-top: 15px;
    text-align: center;
    color: #FF6F61;
    font-weight: bold;
}