#title {
    font-family: Garamond, sans-serif;
    font-size: 3rem;
    color: #6684b5;
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;
}

#top20 {
    font-family: Garamond, sans-serif;
    font-size: 1.8rem;
    color: #B4B4B4;
    text-align: center;
    margin-bottom: 2rem;
}

#movie_table th {
    background-color: #274747;
    color: #FFFFFF;
}

#movie_table tbody tr:nth-child(odd) {
    /*background-color: #f9f9f9;*/
    background-color: rgba(58, 110, 110, 0.87);
}
#movie_table tbody tr:nth-child(even) {
    /*background-color: #f9f9f9;*/
    background-color: rgba(80, 120, 120, 0.79);
}

#movie_table tbody tr:hover {
    /*background-color: #e1e1e1;*/
    background-color: #5d6f71;
}

a {
    color: #d5b15e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.controls {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 30px;
}

.controls label {
    font-family: Garamond, sans-serif;
    font-size: 1.2rem;
    color: #B4B4B4;
    margin-right: 8px;
}

.controls select {
    font-family: Garamond, sans-serif;
    font-size: 1.1rem;
    color: #B4B4B4;
    background-color: #1A1A2E;
    border: 1px solid #6684b5;
    border-radius: 6px;
    padding: 5px 10px;
    cursor: pointer;
}

.controls select:hover {
    background-color: #2f2f48; /* slightly lighter on hover */
    border-color: #00A9E0;     /* electric blue glow */
    cursor: pointer;
}

.pagination {
    margin: 20px;
    text-align: center;
}

.pagination button {
    font-family: Garamond, sans-serif;
    background-color: #2F4F4F;
    color: #FFFFFF;
    border: 1px solid #6684b5;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
    background-color: #5d6f71;
    color: #1A1A2E;
}

.pagination button:disabled {
    background-color: #A9A9A9;
    color: #666666;
    border-color: #888888;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
}

#page_number {
    font-family: Garamond, sans-serif;
    font-size: 1.2rem;
    color: #B4B4B4;
    margin: 0 15px;
}

#cart-button-container {
    text-align: center;
    margin-top: 1rem;
}

#view-cart-button, #checkout-button {
    padding: 10px 20px;
    background-color: #2F4F4F;
    color: white;
    font-family: Garamond, serif;
    font-size: 1.2rem;
    border: 1px solid #6684b5;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#view-cart-button:hover {
    background-color: #5d6f71;
    color: #1A1A2E;
    transform: scale(1.05);
}

#checkout-button:hover {
    background-color: #5d6f71;
    color: #1A1A2E;
    transform: scale(1.05);
 }

.add-to-cart-btn {
    padding: 8px 12px;
    background-color: #2F4F4F;
    color: white;
    font-family: Garamond, serif;
    font-size: 1rem;
    border: 1px solid #6684b5;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.add-to-cart-btn:hover {
    background-color: #485659;
    color: #1A1A2E;
    transform: scale(1.05);
}

#cart-message {
    font-family: Garamond, serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgba(42, 177, 105, 0.71);
    text-align: center;
    margin-bottom: 1rem;
    animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    20% {
        opacity: 1;
        transform: translateY(0px);
    }
    80% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}